* { /* Gælder alt på hele siden */
  box-sizing: border-box; /* Bokse har altid den størrelse man giver uanset om der tilføjes margen, padding mv. */
}

/* Ovenstående kode kan give problemer ved nogle 3. parts scripts man henter. Men det gør det nemmere at forstå og lave kodning når man starter. */

body {
  margin: 0; /* Ingen kanter i siden af browser */
  background-color: #DFD0B0;
  font-family: Poppins, "sans-serif";
}

h1, h2, h3, h4, h5, h6 {
  margin: 0; /* Ingen ydre margen fra overskrifter */
  padding: 0; /* Ingen indre margen fra overskrifter */
}

ul, ol {
  margin: 2px 10px 2px 10px; /* Mindre margen på punkter */
  padding: 0; /* Ingen indre margen fra lister */
  list-style-position: inside; /* List punkter står på linje */
}

li {
  margin: 0; /* Ingen ydre margen fra listpunkter */
}

p {
  margin: 0; /* Ingen ydre margen fra paragraffer */
  padding: 0; /* Ingen indre margen fra paragraffer */
}

/* Sikrer billeder er responsive */
img {
  display: block; /* Billeder er et element (laver linjeskift) */
  max-width: 100%; /* Bredde må maks fylde 100% */
  height: auto; /* Højden skal tilpasse sig */
}

//OVERORDNET STYLING

//FOOTER
.footer_logo{
  height: auto;
  width: 250px;
}

.footer_tekst{
  color: white;
  text-decoration: none;
}

.footer_tekst:hover{
  color: #d2d2d2;
}

  //HEADER - NAVBAR & BURGERMENU
.header_logo{
  height: auto;
  width: 250px;
}

.burger_icon{
  height: auto;
  width: 7.5vw;
}

.nav{
  transition: max-height .2s ease-in-out;
  max-height: 0;
  overflow: hidden;
  position: relative;
  left: 0;
  z-index: 10;
  background-color: #f8f9fa;
}

.nav.show{
  transition: max-height .2s ease-in-out;
  max-height: 100vh;
  background-color: #f8f9fa;
}

.nav_text{
  font-weight: bold;
  color: black;
  text-decoration: none;
}

.nav_text:hover{
  color: rgb(116,14,38);
}

.nav_current{
  border-bottom: rgb(116,14,38) solid 2px;
}

//FORSIDE STYLING
//-----------------BackgroundVideo---------//
.vidbox{
  min-height: 50vh;
  height: 65vh;
}

.video1{
  position: absolute;
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.imgbox{
  height: 69vh;
}

.video_center_logo{
  height: 15vh;
  width: auto;
  border-radius: 1000px;
}

//------------------Carousel---------------//

.container_pic_wood{
  background-image: url("../images/wood.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 400px;
  filter: drop-shadow(0px 2px 10px #090607);
}

.container_pic_wood_repeated{
  background-image: url("../images/wood.jpg");
  background-position: center;
  background-size: contain;
  background-repeat: repeat;
  width: 100%;
  filter: drop-shadow(0px 2px 10px #090607);
}

.resize_carousel_pic{
  width: 100vw;
  max-height: 500px;
}

.layered-image {
  width: 100vw;
  height: 500px;
  position: absolute;
  z-index: 0;
  background: linear-gradient(to left, transparent, black);
}

.carousel-control-prev{
  width: 7%;
}
.carousel-control-next{
  width: 7%;
}

.carousel-caption{
  top: 10%;
  bottom: 0;
}
.custom-font-size-xs{
  font-size: 0.55rem;
}
//Round picture//
.rounded-custom{
  border-radius: 30px;
}

.container_pic_google-maps{
  width: 250px;
  height: 250px;
}
//------------------Andet----------//
.cta-phone{
  background-color: rgb(116,14,38);
  border: none;
}
.cta-phone:hover{
  color: #d2d2d2;
}
.cta-phone-text{
  text-decoration: none;
  color: white;
  font-size: 0.9rem;
}
.cta-phone-text:hover{
  color: #d2d2d2;
}

.gray-color{
  background-color: #1C1A19;
  filter: drop-shadow(0px 2px 10px #090607);
}

//MENU STYLING

.bg_space{
  height: 10vh;
}
.overskrift_stor{
  font-size: 40px;
}
.box1{
  background-color: #1C1A19;
  border-radius: 25px;
}
.pic-1{
  border-radius: 25px;
}
.wood-bg{
  background-image: url("../images/wood.jpg");
  background-position: center;
  background-size: contain;
  background-repeat: repeat;
  width: 100%;
  filter: drop-shadow(0px 2px 10px #090607);
}
.h2_tekst{
  font-size: 45px;
}
.img1{
  filter: drop-shadow(0px 10px 60px #090607);
  object-fit: cover;
}
.img2{
  filter: drop-shadow(0px 10px 60px #090607);
  object-fit: cover;
}

//BEGIVENHEDER STYLING
.container_buttonbox:hover{
  color: #d2d2d2;
}
.container_billede{
  filter: drop-shadow(0px 2px 10px #090607);
}

//SELSKABSLOKALER STYLING
.carousel_tekst{
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
.side_titel{
  font-weight: bold;
}

//OM OS STYLING
.box_border_radius{
  border-radius: 50px;
}

.img_border_radius{
  border-radius: 50%;
}

.wood_bg{
  background-image: url("../images/wood.jpg");
  background-position: center;
  background-size: contain;
  background-repeat: repeat;
  filter: drop-shadow(0px 2px 10px #090607);
}

.bg_space{
  height: 10vh;
}

.direction_reverse{
  flex-direction: row-reverse;
}

.text_decoration_none{
  text-decoration: none;
}

.border_none{
  border: none;
}

.cta_box:hover{
  color: #d2d2d2;
}

.cta_btn{
  color: white;
}

.cta_btn:hover{
  color: #d2d2d2;
}

//MEDIA-QUERIES
//FORSIDE//
@media only screen and (min-width: 480px){
  .container_pic_wood{
    min-height: 500px;
  }
}

@media only screen and (min-width: 600px){
  .container_pic_wood{
    min-height: 550px;
  }
}

@media only screen and (min-width: 768px){
  .container_pic_wood{
    min-height: 600px;
  }
}

//MENU//
@media screen and (min-width: 768px) and (max-width: 992px){
  //.img1{
  //  position: relative;
  //  top: 55px;
  //}
  //.img2{
  //  position: relative;
  //  top: 30px;
  //}
}
@media screen and (min-width: 992px) and (max-width: 1199px){
  //.img1{
  //  position: relative;
  //  top: 40px;
  //}

  .overskrift_stor{
    font-size: 40px;
  }
}
@media screen and (min-width: 1400px){
  .overskrift_stor{
    font-size: 45px;
  }
}